@tailwind base;
@tailwind components;
@tailwind utilities;

.noise {
    pointer-events: none;
    width: 100vw;
    height: 120vh;
    background-image: url(/noise.png);
    background-size: auto;
    background-repeat: repeat;
    opacity: .07;
  }

  * {
      user-select: none;
      cursor: none;
    }

  .font-moret {
      font-family: 'moret';
    }

  .font-gill-sans {
      font-family: 'gill-sans-nova';
    }

  .font-lato {
      font-family: 'lato';
      font-weight: bold;
    }

  .cursor {
    pointer-events: none;
    background-color: #B86F52;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
  }

